body{
  padding: 0;
  margin:0;
  background-color: #ebebeb;
  
}
.header{
 height:30px;
 max-width: 100%;
  padding:10px;
  background-color: White;
  box-shadow: 0 1px 3px 3px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo{
  margin:2px 2px;
}

.search-button{
 margin:15px 25px ;
 font-size: 27px;
}
.account-icon{
  margin:5px;
  padding: 5px;
max-height:100px;
max-width:100px;
  color: white;
  font-family: Times New Roman;
  font-weight: bolder;
  border-radius:50%;
  background-color: red;
}
.subscription{
 height:30px;
 max-width: 100%;
  padding:10px;
  background-color: #f2f2f2;
  display: flex;
  font-weight: bolder;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.post{
  max-width:100%;
  max-height: 400px;
  margin:0;
  padding:10px;
  background-color: white;
  border-bottom: 2px #ebebeb solid;
}
video{
  object-fit: cover;
}
.post-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.post-logo{
  padding: 5px;
  margin:0 5px 0 0;
}
.post-logo img{
  border-radius: 50%;
  }
.main-title{
  font-weight:bold;
  margin: 0;
  padding: 0;
}
.sub-title{
  font-size:12px;
  color: #9d9d9d;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:black;
}
.video-info{
  max-width: 100%;
  padding: 10px;
  margin:  0;
  background-color: white;
  line-height: 1px;
  border-bottom:1px solid grey ;
}
.video-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.video-title .p1{
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial;
  margin:0;
  display: inline;
}
.video-sub-info-1{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0;
}
.video-views{
  font-size: 17px;
  color: grey;
  font-weight: bold;
  margin: 0;
}
.video-capacity{
    font-size: 17px;
  color: grey;
  font-weight: bold;
}
.video-sub-info-2{
      display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.video-share{
  height: 40px;
  width:50%;
  margin:0 5px ;
  border:1px solid blue;
  border-bottom:2px solid blue;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-share p{
      font-size: 19px;
  color:blue;
  font-weight:bolder;
  margin: 10px;
}
.video-download{
    height: 40px;
  max-width:50%;
  margin: 0;
  border:1px solid blue;
  border-bottom:2px solid blue;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}
.video-download p{
    font-size: 19px;
  color:blue;
  font-weight:bolder;
  margin: 10px;
}
.video-info-2{
        display: flex;
  flex-direction: row;
  align-items: center;
  }
.video-info-2 img{
  border-radius: 50%;
  object-fit: center;
}
.video-info-2 p{
  margin:0 10px;
}
.more-videos-container{
  padding: 10px;
  background-color: white;
  
}
.more-videos-img img{
  border-radius: 2px;
  object-fit: cover;
  margin: 0 5px;
}
.more-videos-title{
  margin: 0 5px;
  padding: 0;
}
.more-videos-title h2{
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.more-videos-title p{
  margin: 0;
  padding:2px 0;
}
a{
  margin:0;
  padding: 0;
}
  